<div class="about">
    <div class="box-left">
        <img src="http://localhost:4600/images/{{@about.image}}">
    </div>
     <div class="box-about">

        <h5 style="color: blue;"><i>{{@about.title}}</i></h5>
        <h5>{{@about.description}}</h5>
    </div>
    </div>