<div class ="address" style="color: blue; background-color: wheat;">
    <h5>{{@address.name}} </h5>
    <h6>{{@address.address}},</h6>
    <h6>{{@address.city}}, </h6>
    <h6>{{@address.pin}} .</h6>
</div>
