<div class="product">
    <div class="box-left">
        <img src="http://localhost:4600/images/{{@productdata.image}}">
    </div>
    <div class="box-right">
        
         <h5 style="color: blue;"><i>{{@productdata.name}}</i></h5>
         <h5><i>{{@productdata.price}}</i></h5> 
    </div>
    
</div>