<div id=header>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">

   <LinkTo class="navbar-brand"  @route="index">My Solution</LinkTo>
  
 
 <ul class="navbar-nav">
    <li class="nav-item">
      <LinkTo class="nav-link" @route="index">Home</LinkTo>
    </li>
    <li class="nav-item">
     <LinkTo class="nav-link" @route="about">About</LinkTo>
    </li>
    <li class="nav-item">
    <LinkTo class="nav-link" @route="contact">Contact us</LinkTo>
    </li>
    <li class="nav-item">
    <LinkTo class="nav-link" @route="people">Key People</LinkTo>
    </li>
  </ul>
<!--<div id=header >
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <LinkTo class="navbar-brand"  @route="hotel">My Resturants</LinkTo>
  <ul class="navbar-nav">
    <li class="nav-item">
      <LinkTo class="nav-link" @route="products">Home</LinkTo>
    </li>
    <li class="nav-item">
     <LinkTo class="nav-link" @route="about">About</LinkTo>
    </li>
    <li class="nav-item">
    <LinkTo class="nav-link" @route="contact">Contact us</LinkTo>
    </li>
  </ul>-->
</nav>
</div>
<div id="main-container">
{{outlet}}
</div>
<div id="footer">
    <AppFooter><b>&copy; All copy rights Reserved. My Solution inc.</b></AppFooter>
</div>