<div>
  <h4 style="color: blue;text-align: center;">Our Service </h4>
  <!-- <DataBox @title="Industries"></DataBox>
   <DataBox @title="Software Products"></DataBox>
   <DataBox @title="Technologies"></DataBox> -->

     {{#each @model as |dataitem|}}
         <DataBox @boxdata={{dataitem}} />
     {{/each}}
</div>